* {
  margin: 0;
  padding: 0;
  font-family: Mountserrat;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffdab9;
}

.form-login {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: solid 0;
  border-left: solid 1px;
  border-right: solid 1px;
  width: 40%;
  height: 100%;
  background-color: white;
}
@media screen and (max-width: 1000px) {
  .form-login {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .form-login {
    border-radius: 10px;
    height: 80%;
    border: solid 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}

.content-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.header-container p {
  font-size: 30px;
  font-style: bold;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .header-container p {
    font-size: 20px;
    height: 30%;
  }
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.input-container input {
  width: 60%;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0 5px 0;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-login {
  margin-top: 10px;
  background-color: #0d99ff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  transition: 0.2s;
}
.button-login:hover {
  opacity: 0.5;
}

.error {
  border-color: rgb(250, 73, 73) !important;
}

.container-left {
  position: absolute;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/images/fundo-login.png");
  width: 60%;
}
@media screen and (max-width: 600px) {
  .container-left {
    background-image: none;
  }
}

.container-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  margin: 10px 0 0 10px;
}
.container-image img {
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  .container-image {
    display: none;
  }
}

.container-image-form {
  display: none;
  width: 30%;
}
.container-image-form img {
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  .container-image-form {
    display: block;
  }
}
