@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap);
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-menu {
  width: 25%;
  height: 100%;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0;
  border-right: 1px solid;
  left: 0;
  border-bottom-right-radius: 10px;
  background-color: rgb(219, 212, 212);
}
.container-menu .active {
  border-top-right-radius: 10px;
  background-color: rgb(238, 236, 236);
}
.container-menu .active .titulo-menu {
  color: rgb(173, 125, 173);
}
.container-menu a {
  text-decoration: none;
  color: #000;
}
.container-menu .menus {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  border-bottom: 1px solid;
  transition: all 0.5s;
}
.container-menu .menus .titulo-menu {
  font-size: 26px;
}
@media screen and (max-width: 600px) {
  .container-menu .menus .titulo-menu {
    font-size: 14px !important;
  }
}
.container-menu .menus:hover {
  height: 11%;
}
.container-menu .menus:hover .titulo-menu {
  opacity: 0.7;
}

.container-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 50vh;
  margin-top: 5vh;
  height: 100%;
  width: 70%;
}

.container-titulo {
  display: flex;
  height: 20%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .container-titulo {
    font-size: 15px !important;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 4px 5px 3px rgba(19, 19, 19, 0.541);
  border-radius: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  border-radius: 15px;
  width: 500px;
  padding: 15px;
  box-shadow: 4px 4px 5px 3px rgba(19, 19, 19, 0.541);
}

.information {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
  width: 100%;
}

.value-input {
  border-radius: 5px;
  padding: 0 5px;
  margin: 5px 0;
  width: 120%;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 25px 0 15px 0;
  transition: 0.5s;
  border: solid #DAC5DA 2px;
}
.value-input:focus-visible {
  outline: none;
  border-color: #a37ea3;
}

.row-password {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.value-input-passoword {
  border-radius: 5px;
  padding: 0 5px;
  margin: 5px 0;
  width: 80%;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 25px 0 15px 0;
  transition: 0.5s;
  border: solid #DAC5DA 2px;
}
.value-input-passoword:focus-visible {
  outline: none;
  border-color: #a37ea3;
}

.titulo-informacao {
  width: 300px;
  text-align: end;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.titulo-informacao-edit {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-align: end;
  margin-right: 15px;
}

.value-informacao {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 15px;
  width: 300px;
}

.container-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 120%;
}
.container-radio .each-radio {
  margin: 5px 10px;
  display: flex;
}
.container-radio .each-radio label {
  margin: 0 15px 0 10px;
  cursor: pointer;
}
.container-radio input[type=radio] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 */
  background-color: #e0e0e0;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 1px solid rgba(128, 128, 128, 0.445);
  border-radius: 100%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 5px;
  cursor: pointer;
}
.container-radio input[type=radio]:checked {
  border: solid 2px #a078a0;
}
.container-radio input[type=radio]::before {
  content: "";
  width: 0.9em;
  height: 0.9em;
  -webkit-clip-path: circle(30%);
          clip-path: circle(30%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #a078a0;
  display: flex;
  align-items: center;
}
.container-radio input[type=radio]:checked::before {
  transform: scale(1);
}
.container-radio input[type=radio]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.row-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row-double,
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row-double .row {
  margin: 10px 15px;
}

.button-edit {
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-items: center;
}
.button-edit button {
  background: #DAC5DA !important;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border-radius: 15px;
  width: 90px;
  height: 35px;
  color: #000;
  border: none;
  box-shadow: 4px 4px 4px 2px rgba(19, 19, 19, 0.541);
  transition: ease-in-out, 0.3s;
  cursor: pointer;
}
.button-edit button:hover {
  transform: scale(1.05);
}
